<div>
  <input type="checkbox" class="checkbox1" id="checkbox1" />
  <label for="checkbox1" class="checkbox-label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <span class="ball"></span>
  </label>
</div>

<style>
  .checkbox1 {
    opacity: 0;
    position: absolute;
  }

  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fa-moon {
    color: #f1c40f;
  }

  .fa-sun {
    color: #f39c12;
  }

  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  .checkbox1:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }
</style>

<script>
  const myCheckbox = document.querySelector(".checkbox1") as HTMLInputElement;
  const event = new Event("change");
  const savedTheme = localStorage.getItem("theme");

  console.log(savedTheme);
  document.documentElement.setAttribute("data-bs-theme", savedTheme);
  if (savedTheme == "dark") {
    myCheckbox.checked = true;
  } else {
    myCheckbox.checked = false;
  }

  myCheckbox.addEventListener("change", function () {
    if (this.checked) {
      console.log("CHECKED", this);
      document.documentElement.setAttribute("data-bs-theme", "dark");
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.setAttribute("data-bs-theme", "light");

      localStorage.setItem("theme", "light");
    }
  });
</script>
