---
import { Image } from "astro:assets";
import HeroImage from "../assets/images/hero.jpg";
---

<section id="hero" class="d-flex align-items-center justify-content-center p-5">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="ws-container">
          <div class="ws-block-content">
            <div class="ws-m-block-title-fit-wrapper">
              <div class="ws-m-block-title-570">
                <ws-text
                  content-untouched=""
                  data-ws-default-content-hash="68e27860c93e64358814f1ca7631708d"
                  slot="block-title">
                  <h1>Fresh baked goods available daily</h1><h5>
                    Check out our fresh pastries selection for the very best in
                    unique or custom, handmade pieces like cakes, cookies,
                    tarts, and more. Pre-orders are available.
                  </h5>
                </ws-text>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-5">
        <Image src={HeroImage} class="img-fluid rounded" alt="hero image" />
      </div>
    </div>
  </div>
</section>
<style></style>
